
<form (ngSubmit)="onSubmit(exampleForm)" #exampleForm="ngForm">
  <div class="form-group">
    <label>First Name:</label>
      <input class="form-control" [(ngModel)]="firstName" #fname="ngModel" name="fname"
      required minlength="4" [ngModelOptions]="{updateOn: 'submit'}">
      <div *ngIf="( fname.dirty || fname.touched ) && fname.invalid">
        <div *ngIf="fname.errors.required">
          first name is Required
        </div>
        <div *ngIf="fname.errors.minlength">
          first name must have length >=4
        </div>
      </div>
    <label>Last Name:</label>
          <input class="form-control"  [(ngModel)]="lastName" #lname="ngModel" name="lname">

    <label>Age:</label>
    <input type="number" class="form-control"  [(ngModel)]="ageNum" #age="ngModel" name="ageNum"
     [ngModelOptions]="{updateOn: 'submit'}" required appAgeValidate>
    <div *ngIf="( age.dirty || age.touched )">
      <div *ngIf="age.errors?.required">
        age is required
      </div>
      <div *ngIf="age?.errors?.ageNotFound">
        age ( {{age.value}} ) not contain in  list !
      </div>
    </div>

  </div>
  <div><button type="submit">Register Template form</button></div>
</form>
<div><pre>{{ exampleForm.form.value | json }}</pre></div>







