
<form [formGroup]="exampleForm" (ngSubmit)="onSubmit()" >
  <div class="form-group">
    <label>First Name:</label>
      <input class="form-control" formControlName="firstName">
      <div *ngIf="( firstName.dirty || firstName.touched )">
        <div *ngIf="firstName.errors.required">
          firstName is required
        </div>
        <div *ngIf="firstName?.errors?.forbiddenName">
          first Name not Equal {{firstName?.errors?.forbiddenName.value}}
        </div>
      </div>


    <label>Last Name:</label>
    <input class="form-control" formControlName="lastName">

    <label>age:</label>
    <input type="number" class="form-control" formControlName="age">
    <div *ngIf="( age.dirty || age.touched )">
      <div *ngIf="age.errors?.required">
        age is required
      </div>
      <div *ngIf="age?.errors?.ageNotFound">
        age ( {{age.value}} ) not contain in  list !
      </div>
    </div>
  </div>
  <div><button type="submit">Register Reactive form</button></div>
</form>
<div>{{firstName.value}}</div>







